html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f2e922;
}

h1 {
    margin-top: 40px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs > label {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.4s ease;
}

.tabs > input[type="radio"] + label:hover,
.tabs > input[type="radio"]:checked + label {
    background-color: #f2d0bb;
}

.tabs > input[type="radio"] + label:active {
    background-color: #F5DBCD;
}

.card-container {
    width: 100%;
    margin-block: 30px;
}

.card-container > * {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

@media (min-width: 786px) {
    .card-container > * {
        justify-content: flex-start;
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fdf7f3;
    border-radius: 8px;
    box-shadow: 0 2px 4px #c77a4c;
    padding: 16px;
    text-align: center;
    width: 200px;
    z-index: 100;
}

.card .name {
    font-size: 18px;
    font-weight: bold;
    margin: 0px -21px 7px;
    padding: 5px;
    background-color: #f2d0bb;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card hr {
    margin-top: 7px;
    height: 1.5px;
}

.card .price {
    margin-bottom: 2px;
    color: dimgray;
}

.card .price .value {
    color: black;
}